@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
    var timeZone = TimeZoneInfo.FindSystemTimeZoneById("Arabian Standard Time");


}
 @model List<BlobItemViewModel>

<div class="card">
    <div class="card-body">
        <h5 class="card-title text-muted"></h5>
        <div class="text-center">
            @if (User.IsInRole("Fonz"))
            {
                <div class="upload-form" style="margin-top: 50px; display: inline-block;">
                    <form id="uploadForm" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="form-group d-flex justify-content-center">
                        <label class="pr-2">Select Date : </label>
                        <input type="date" class="form-control w-75" id="uploadedFileDate" name="uploadedFileDate" required>
                    </div>

                    <div class="form-group d-flex justify-content-center">
                        <input type="file" class="form-control custom-file-input me-2" id="uploadedFile" name="uploadedFile" required>
                        <button type="button" id="btnUpload" class="btn btn-primary custom-upload-btn">Upload</button>
                    </div>
                </form>

                <br />
                <progress id="fileProgress" class="fileProgressbar" style="display: none"></progress>


            </div>
            }
        </div>
        <div class="card-deck">         
            <div class="container">
                <h2>Folders</h2>

                <div class="row">
                    @if (ViewBag.Folders != null)
                    {
                        @foreach (var folder in ViewBag.Folders)
                        {
                            <div class="col-md-4 mt-2">
                                <div class="card p-3 shadow">
                                    <div class="text-center">
                                        <img class="card-img-top" src="~/images/foldericon.png" alt="" style="width:70px">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title text-truncate" title="@folder">@folder</h5>
                                        <p class="card-text text-muted">Folder</p>
                                    </div>

                                    <div class="card-body">
                                        <div class="btn-group float-end" role="group" aria-label="options">
                                            <a href="@Url.Action("OpenFolder", "Home", new { folderName = folder })" class="btn btn-primary btn-sm">
                                                <i class="fa fa-folder-open"></i> Open
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p> Empty Folder  </p>
                    }
                </div>
            </div>
         
        </div>
    </div>
</div>
@functions {
    string FileSizeString(long bytes)
    {
        const int scale = 1024;
        string[] orders = new string[] { "GB", "MB", "KB", "Bytes" };
        long max = (long)Math.Pow(scale, orders.Length - 1);

        foreach (string order in orders)
        {
            if (bytes > max)
                return string.Format("{0:##.##} {1}", decimal.Divide(bytes, max), order);

            max /= scale;
        }

        return "0 Bytes";
    }
}
<script src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#blobTable').DataTable();

        $("#btnUpload").on("click", function () {
            var token = $('input[name="__RequestVerificationToken"]').val();

            var formData = new FormData();
            formData.append("uploadedFileDate", $("#uploadedFileDate").val());
            formData.append("uploadedFile", $("#uploadedFile")[0].files[0]);
            $.ajax({
                url: '/Home/Index',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                headers: {
                    RequestVerificationToken: token // Include Anti-Forgery Token in the request headers
                },
                success: function (data) {
                    $("#fileProgress").hide();
                    $("#uploadedFile").val(""); // Clear file upload input field

                    // Display success message using SweetAlert
                    swal({
                        title: "Success",
                        text: data.fileName + " has been uploaded successfully",
                        icon: "success",
                    }).then(function () {
                        // Reload the page after the user clicks "OK"
                        location.reload();
                    });
                },
                error: function (xhr, status, error) {
                    $("#fileProgress").hide();
                    $("#uploadedFile").val(""); // Clear file upload input field

                    // Display error message using SweetAlert
                    swal("Error", xhr.responseText, "error");
                },
                xhr: function () {
                    var fileXhr = $.ajaxSettings.xhr();
                    if (fileXhr.upload) {
                        $("#fileProgress").show();
                        fileXhr.upload.addEventListener("progress", function (e) {
                            if (e.lengthComputable) {
                                $("#fileProgress").attr({
                                    value: e.loaded,
                                    max: e.total
                                });
                            }
                        }, false);
                    }
                    return fileXhr;
                }
            });
        });
        $(".btnDownload").on("click", function () {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var file = $(this).data('file-name');
            $.ajax({
                url: '/Home/Download',
                type: 'POST',
                data: { fileName: file }, // Pass the file name as data to the server
                headers: {
                    RequestVerificationToken: token
                },
                success: function (response) {
                    if (response.success) {
                        // Decode the base64 encoded file content
                        var binary = atob(response.data);
                        var array = new Uint8Array(binary.length);
                        for (var i = 0; i < binary.length; i++) {
                            array[i] = binary.charCodeAt(i);
                        }
                        // Create a Blob from the array
                        var blob = new Blob([array], { type: response.contentType });
                        // Create a URL for the Blob
                        var url = window.URL.createObjectURL(blob);
                        // Create a link element and trigger a click to initiate download
                        var link = document.createElement('a');
                        link.href = url;
                        link.download = file;
                        document.body.appendChild(link);
                        link.click();
                        // Clean up
                        window.URL.revokeObjectURL(url);
                        $("#fileProgress").hide();
                        // Optionally, reload the page
                        // location.reload();
                    } else {
                        // Display error message using SweetAlert
                        swal({
                            title: "Error",
                            text: "Failed to download the file.",
                            icon: "error",
                        }).then(function () {
                            // Reload the page after the user clicks "OK"
                            location.reload();
                        });
                    }
                },
                error: function (xhr, status, error) {
                    $("#fileProgress").hide();
                    // Display error message using SweetAlert
                    swal({
                        title: "Error",
                        text: xhr.responseText,
                        icon: "error",
                    }).then(function () {
                        // Reload the page after the user clicks "OK"
                        location.reload();
                    });
                },
                xhr: function () {
                    var fileXhr = $.ajaxSettings.xhr();
                    if (fileXhr.upload) {
                        $("#fileProgress").show();
                        fileXhr.upload.addEventListener("progress", function (e) {
                            if (e.lengthComputable) {
                                $("#fileProgress").attr({
                                    value: e.loaded,
                                    max: e.total
                                });
                            }
                        }, false);
                    }
                    return fileXhr;
                }
            });
        });

        $(".btnOpenFolder").on("click", function () {
            var folderName = $(this).data('folder-name');
            // Redirect to the folder view
            window.location.href = '/Home/Folder?folderName=' + folderName;
        });

    });

    function confirmDelete(fileName) {
        // Show a confirmation dialog before deleting the file
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover " + fileName + "!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                // call the deleteFile function
                deleteFile(fileName);
            }
        });
    }

    //Delete
    function deleteFile(fileName) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        // Perform an AJAX request to delete the file from Azure Blob Storage
        $.ajax({
            url: '/Home/DeleteFile',
            type: 'POST',
            data: { fileName: fileName },
            headers: {
                RequestVerificationToken: token
            },
            success: function (response) {
                // Reload the data table after successful deletion
                swal({
                    title: "Success",
                    text: fileName + " has been deleted successfully",
                    icon: "success",
                }).then(function () {
                    // Reload the page after the user clicks "OK"
                    location.reload();
                });
            },
            error: function (xhr, status, error) {
                // Handle errors if any
                console.error(xhr.responseText);
                swal("Error", xhr.responseText, "error");
            }
        });
    }

   
</script>
