<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <title>Fonz File Storage Login Form</title>
</head>
<body>
    <div class="wrapper">

        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>
